

<div id="mySidenav" class="sidenav">
  <a class="closebtn" cursor="pointer" (click)="closeNav()">&times;</a>
  <a >About</a>
  <a >Services</a>
  <a >Clients</a>
  <a >Contact</a>
  <a href="" (click)="authService.logout()">Logout</a>
</div>


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div >

        <nav class="navbar navbar-expand-lg navbar-light bg-info">
                <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

                <div class="logo container"><a class="navbar-brand" ><i class="fa fa-university"></i><span>Varsity</span></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                 <li *ngIf="!type_flag" class="nav-item " >
                     
                      <a class="nav-link" id="coun"  (click)="openCards()">Counsellors <span class="sr-only">(current)</span></a>
                  
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">Our Courses</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link ">Feedback</a>
                    </li>
                  </ul>
                
                </div>
              </nav>
</div>


<div class="container emp-profile">
      

            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">

                            <img  *ngFor="let user of userData | async" src={{user.profile_photo}} alt="profile photo"/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 *ngFor="let user of userData | async">
                                        {{ user.usertype}}
                                    </h5>
                                    <h6 *ngFor="let user of userData | async">
                                        {{ user.workingstate}}
                                        
                                    </h6>
                                    <div  *ngIf="type_flag">
                                    <p  class="proile-rating " *ngFor="let user of userData">RANKINGS : <span>{{user.rating}}/10</span></p>
                                    </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">About You</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 center">
                        <button  class="profile-edit-btn center-block" id="myBtn" name="btnAddMore"  data-toggle="modal" >Edit Profile</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <div class="info" *ngIf="!type_flag">
                                <p>YOUR PREFERENCES</p>
                                <li *ngFor="let user of userData | async">
                                   {{user.preference1}}
                                </li>
                                <li *ngFor="let user of userData | async">
                                    {{user.preference2}}
                                 </li>
                            </div>
                            <div class="info">
                                <p>ABOUT ME</p>
                                <li *ngFor="let user of userData | async">
                                {{ user.fieldofinterest }}
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Name</label>
                                            </div>
                                                <div class="col-md-6">
                                                    <p *ngFor="let user of userData | async">
                                                        {{ user.username }} </p>
                                                </div> 
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                    <label>Education</label>    
                                             </div>
                                             <div class="col-md-6">
                                                <p *ngFor="let user of userData | async"> {{ user.Education }} </p>
                                            </div>
                                        </div>
                                     
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p *ngFor="let user of userData | async">
                                                    {{user.email}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p *ngFor="let user of userData | async">
                                                    {{user.phone}}
                                                </p>
                                            </div>
                                        </div>
                                       
                            </div>
                                                                      <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Your Bio</label>
                                            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5"></textarea>
                                          </div>
                                          
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </form>           
        </div>



<!--modal box-->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="container">
          <h2>Update your profile</h2>
      </div>
    <span class="close" style="position: absolute;right:0px;top:0px;">&times;</span>
    <!--Form to edit/update profile-->
        <div class="container">
            <form name="updateForm" method="POST" #formCtrl="ngForm">
                <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="updet.username" name="username" required>
                </div>
        
                <div class="form-group">
                <label for="Education">Education</label>
                <input type="text"  class="form-control" [(ngModel)]="updet.education" name="Education" required>
                </div>

                <div class="form-group">
                    <label for="foi">Field of Interest</label>
                    <input type="text"  class="form-control" [(ngModel)]="updet.foi" name="foi" required>
                </div>

                <div *ngIf="!type_flag">
                    <div class="form-group">
                            <label for="prf1">preference1</label>
                            <input type="text"  class="form-control"[(ngModel)]="updet.pfr1" name="pr1" required>
                    </div>

                    <div class="form-group">
                            <label for="prf2">preference2</label>
                            <input type="text"  class="form-control" [ngModelOptions]="{standalone: true}"  [(ngModel)]="updet.pfr2" name="prf2" required>
                    </div>
                </div>
                



                <div class="form-group">
                    <label for="ph">Phone/Contact</label>
                    <input type="number"  class="form-control"  [(ngModel)]="updet.phone" name="ph" min="0"  maxlength="10" required>
                </div>


                
                <div class="form-group">
                        <label for="wk">WorkingState</label>
                        <input type="text"  class="form-control"  [(ngModel)]="updet.wrkst" name="wk"  required>
                    </div>

        
                <button type="submit" class="btn btn-success" (click)="usup()">Save</button>
        
            </form>
        </div>

  </div>

</div>


<!--profile card for user-->
<div *ngIf="!type_flag" id="profile_card" class="modal">
    
    <div  class="modal-content" *ngFor="let profile of profiledata | async">
        <div class="container">
                <span class="close2" style="position: absolute;right:0px;top:0px;">&times;</span>
        </div>
        <h3>Suggestions for Counsellors</h3>
        <div class="card" style="width: 18rem;" id="card" >
            <img class="card-img-top" src="{{profile.profile_photo}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{profile.username}}</h5>
                    <li>{{profile.Education}}</li>
                    <li>{{profile.workingstate}}</li>
            <p class="card-text">He has guided many people in field of {{profile.fieldofinterest}}</p>    
            
            <!--taking user input for appointment-->  
                <div class="container">
                <label>
                        Date
                        <input  [min]="min" [max]="max" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="mydate">
                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                    </label>
                    
                    <label>
                        Time
                        <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" [(ngModel)]="mydate">
                        <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                    </label>

                    </div>

                <br>
                <button class="btn btn-primary" (click)="reqappt()">Request an appointment</button>
         </div>    
    </div>
</div>


  