
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <h2 align="center">Welcome to <a href="home" router-Link="home"><i class="fa fa-university"></i><span>Varsity</span></a></h2>

    <hr>
             
</div>
  
           
         

    

    <div class="container" align="center">
    <mat-radio-group aria-label="Select an option"  name="user_type" (change)="onChange($event)" ngModel required #user_type="ngModel">
      <mat-radio-button value="CR"><i class="fa fa-user-circle"></i>Sign up as counseller</mat-radio-button>
      <mat-radio-button value="CE"><i class="fa fa-graduation-cap"></i> Sign up as counsellee</mat-radio-button>
    </mat-radio-group>
    </div>

    <form name="myform">
      <div class="container text-center">
              
            <label for="email"><i class="fa fa-envelope"></i><b>Email</b></label>
            <input type="email" class="form-control" [(ngModel)]="semail" placeholder="Enter Email" name="email" >
        
            <label for="psw"><i class="fa fa-key"></i><b>Password</b></label>
            <input type="password" class="form-control" [(ngModel)]="spassword" placeholder="Enter Password" name="psw" >
        
            <label for="psw-repeat"><i class="fa fa-key"></i><b>Confirm Password</b></label>
            <input type="password" class="form-control"  [(ngModel)]="re_password" placeholder="Repeat Password" name="psw-repeat">
            <hr>
            <p>By creating an account you agree to our <a  >Terms & Privacy</a>.</p>
          
            
          
          
            <button type="submit" class="registerbtn" (click)="signup()">Register</button>
            <p *ngIf="!(user_type && email && psw && psw-repeat)">crediantials required</p>

      </div>
          
          <div class="container signin">
            <p>Already have an account? <a href ="login" routerLink="login">Login</a>.</p>
          </div>

  </form>
  
  


